################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SlotsMachine.wpf/.vs/SlotsMachine.wpf
